<div id="Community"
     class="sliders"
     style="display:none; width:100%; vertical-align: top; height:100%; position:absolute; margin-top:10.2em; border-spacing: 0;"
     ng-controller="CommunityCtrl">
  <%= render 'queries' %>
  <%= render 'forums' %>
  <%= render 'posts' %>
</div>