<link rel="stylesheet"
      href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js">
</script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js">
</script>
<div id="dialog-confirm"
     class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-dialog-buttons ui-draggable"
     title="Welcome!"
     style="display:none">
  <div id="message"
       style="margin-top:1.5em; font-size: large; text-align: center;">
  </div>
</div>