<div id="Training"
     class="sliders"
     style="display:none; width:100%; vertical-align: top; height:1000px; position:absolute; margin-top:10.2em; border-spacing: 0;">
  <table>
    <tr>
      <td style="height:2em">
        <h1>
          Training
        </h1>
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
  </table>
</div>
