<div class="sliders" id="Test" ng-controller="TestCtrl" style="display:none; width:100%; vertical-align: top; height:100%; position:absolute; margin-top:10.2em; border-spacing: 0;">
  <%= render '/test/main' %>
  <%= render '/test/part1' %>
  <%= render '/test/edit' %>
</div>